@using MyApp.Pages

@model RegisteredBosses

<div class="row text-center">
   
    <div class="col-md-12">
        <h2>Bosses</h2>
        <table class="table table-hover">

            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Company</th>
                    <th>Age</th>
                    <th>City</th>
                    <th>Confirmed</th>
                    <th>Like Rate</th>
                    <th>Image</th>
                    <th>Operations</th>
                </tr>

            </thead>

            <tbody>
                  <form method="post" asp-page="GetUsers">

                    <input type="hidden" name="RoleName" value="Boss">

                    <tr>
                        <td>
                                <input type="text" name="Username" value="@Model._identityUserRequestParameters?.Username">
                        </td>
                        <td>
                                <input type="text" name="Email" value="@Model._identityUserRequestParameters?.Email">
                        </td>
                        

                            
                        <td><input type="text" name="Name" value="@Model._surveyUserRequestParameters?.Name"></td>
                        <td><input type="text" name="Surname" value="@Model._surveyUserRequestParameters?.Surname"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="row">
                                <input class="col-md-6" type="text" name="minLikeRate" placeholder="min">
                                <input class="col-md-6" type="text" name="maxLikeRate" placeholder="max">
                            </div>
                        </td>
                        <td></td>
                        
                       <td>
                                <button class="btn btn-success" type="submit">Filter</button>
                        </td>
                    </tr>

            </form>

            @foreach (BossItem boss in Model.bossList)
            {
                <tr class="text-center">
                    <td>@boss.user.UserName</td>
                    <td>@boss.user.Email</td>
                    <td>@boss.boss?.Name</td>
                    <td>@boss.boss?.Surname</td>
                    <td>@boss.company?.Name</td>
                    <td>@boss.boss?.Age</td>
                    <td>@boss.boss?.City</td>
                    <td>
                        @if(boss.boss != null &&  (bool)boss.boss.Confirmed){
                            <i class="fa-solid fa-check"></i>
                        }else{
                            <i class="fa-solid fa-exclamation"></i>
                        }
                    </td>
                    <td>@boss.boss?.LikeRate</td>
                    <td>
                        @if(@boss.boss is not null){
                            <img class="img-thumbnail" style="width: 60px; height: 60px;" src="~/@boss.boss?.ImageUrl" alt="">
                        }
                        
                      
                    </td>
                    
                    <td>
                        <div class="btn-group">
                                @if(boss.boss is not null){
                                      <form method="post" asp-page="./ConfirmUser">
                                    <input type="hidden" name="UserId" value="@boss.user.Id">
                                 
                                    <button type="submit" class="btn btn-warning"
                                        onclick="return confirm('Are you sure you want to Confirm @boss.user.UserName?')">
                                        Confirm
                                    </button>
                                </form>
                                }
                              
                                <form method="post" asp-page="./DeleteUser">
                                    <input type="hidden" name="UserId" value="@boss.user.Id">
                                    <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Are you sure you want to delete @boss.user.UserName?')">
                                        Delete
                                    </button>
                                </form>
                            </div>
                    </td>
                </tr>
            }
            </tbody>

        </table>

    </div>
</div>
