@using Entities.Models
@using MyApp.Pages

@model RegisteredAuthors



<div class="row text-center">
   
    <div class="col-md-12">
        <h2>Authors</h2>
        <table class="table table-hover">

            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Surname</th>
                    @* <th>Company</th> *@
                    <th>Age</th>
                    <th>City</th>
                    <th>Confirmed</th>
                    <th>Like Rate</th>
                    <th>Image</th>
                    <th>Operations</th>
                </tr>

            </thead>

            <tbody>
            
            <form method="post" asp-page="GetUsers">

                    <input type="hidden" name="RoleName" value="Author">

                    <tr>
                        <td>
                                <input type="text" name="Username" value="@Model._identityUserRequestParameters.Username">
                        </td>
                        <td>
                                <input type="text" name="Email" value="@Model._identityUserRequestParameters.Email">
                        </td>
                        

                            
                        <td><input type="text" name="Name" value="@Model._surveyUserRequestParameters.Name"></td>
                        <td><input type="text" name="Surname" value="@Model._surveyUserRequestParameters.Surname"></td>
                        @* <td></td> *@
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="row">
                                <input class="col-md-6" type="text" name="minLikeRate" placeholder="min">
                                <input class="col-md-6" type="text" name="maxLikeRate" placeholder="max">
                            </div>
                        </td>
                        <td></td>
                        
                       <td>
                                <button class="btn btn-success" type="submit">Filter</button>
                        </td>
                    </tr>

            </form>


            @foreach (AuthorItem author in Model.authorList)
            {
                <tr class="text-center">
                    <td>@author.user.UserName</td>
                    <td>@author.user.Email</td>
                    <td>@author.author?.Name</td>
                    <td>@author.author?.Surname</td>
                    @* <td>@author.author?.c</td> *@
                    <td>@author.author?.Age</td>
                    <td>@author.author?.City</td>
                    <td>
                        @if( author.author != null && (bool)author.author.Confirmed){
                            <i class="fa-solid fa-check"></i>
                        }else{
                            <i class="fa-solid fa-exclamation"></i>
                        }
                    </td>
                    <td>@author.author?.LikeRate</td>
                    <td>
                        @if(@author.author is not null){
                            <img class="img-thumbnail" style="width: 60px; height: 60px;" src="~/@author.author?.ImageUrl" alt="">
                        }
                        
                      
                    </td>
                    
                    <td>
                       <div class="btn-group">
                                <form method="post" asp-page="./DeleteUser">
                                    <input type="hidden" name="UserId" value="@author.user.Id">
                                    <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Are you sure you want to delete @author.user.UserName?')">
                                        Delete
                                    </button>
                                </form>
                            </div>
                    </td>
                </tr>
            }
            </tbody>

        </table>

    </div>
</div>
