@using Microsoft.AspNetCore.Identity
@using MyApp.Pages

@model RegisteredAdmins

<div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">


        <h2>Admins</h2>
        <table class="table table-hover">

            <thead>



                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Operations</th>
                </tr>

            </thead>

            <tbody>



                <form method="post" asp-page="GetUsers">

                    <input type="hidden" name="RoleName" value="Admin">

                    <tr>
                        <td>
                                <input type="text" name="Username" value="@Model._identityUserRequestParameters.Username">
                            </td>
                        <td>
                                <input type="text" name="Email" value="@Model._identityUserRequestParameters.Email">
                        </td>
                        <td>
                                <button class="btn btn-success" type="submit">Get By Filter</button>
                        </td>
                    </tr>
                </form>


                @foreach (IdentityUser admin in Model.adminList)
                {
                    <tr>
                        <td>@admin.UserName</td>
                        <td>@admin.Email</td>
                        <td>
                            <div class="btn-group">


                                <input type="hidden" name="Username" value="@admin.UserName">
                                <button type="submit" class="btn btn-danger rounded-0">
                                    None
                                </button>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-md-3"></div>
</div>
