@model List<ShowedPost>

@inject MainPageModel _mainPageModel
@inject IServiceManager _manager

@foreach (ShowedPost showedPost in Model)
{
    <div class="card gedf-card my-3">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                        <img class="rounded-circle" width="45" height="45" src="@showedPost.publisherImagePath">
                    </div>
                    <div class="ml-2">
                        <div class="h5 m-0">
                            <a class="text-decoration-none text-secondary" asp-page="/RouterPage"
                                asp-route-userId="@showedPost.publisherId">@showedPost.publisherFullName</a>
                        </div>
                        <div class="h7 text-muted">@showedPost.publisherInformation</div>
                    </div>
                </div>
                <div>
                    @if (_mainPageModel.User is not null && !showedPost.publisherId.Equals(_mainPageModel.User.Id))     // benim paylaşımım olmadığı zaman ve oturum açtığımda
                    {
                        if(_manager.FollowService.GetAllFollows(false).Where(p => p.FollowById.Equals(_mainPageModel.User.Id) && p.FollowedId.Equals(showedPost.publisherId)).FirstOrDefault() is null){
                            <div class="container">
                                <a class="btn btn-success">
                                    <i class="fa-solid fa-plus"></i>
                                    Takip Et
                                </a>
                            </div>
                        }

                       
                    }

                </div>
            </div>

        </div>

        <div class="card-body">
            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>@showedPost.publishTime</div>

            <p class="card-text">
                @showedPost.content
            </p>
        </div>
        <div class="card-footer">
            <a class="card-link text-decoration-none text-secondary"><i class="fa-solid fa-heart"></i> Like(20)</a>
            <a class="card-link text-decoration-none text-warning"><i class="fa fa-comment"></i> Comment(15)</a>
        </div>
    </div>
}
