@page "/Author"
@using Survey.Benimkiler
@inject MainPageModel _mainPageModel
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Author Page";

    var returnUrl = $"{HttpContextAccessor.HttpContext.Request.Path}{HttpContextAccessor.HttpContext.Request.QueryString}";
    p.f(returnUrl);
}





@model AuthorPageModel
<div class="padding">
    <div class="col-md-8">
        <!-- Column -->
        <div class="card"> <img class="card-img-top" src="@Model.CompanyImageUrl" alt="Card image cap">
            <div class="card-body little-profile text-center">
                <div class="pro-img"><img src="@Model.ImageUrl" alt="user"></div>
                <h3 class="m-b-0">@Model.FullName</h3>
                <p>@Model.Information</p>


                @if (Model.CurrentUser is not null && Model.CurrentUser.Id != Model.AuthorId)
                {
                    if (!Model.AuthorFollowing)
                    {
                        <a asp-page="/Follow" asp-route-followedId="@Model.AuthorId"
                            asp-route-followerId="@_mainPageModel.User.Id" asp-route-returnUrl="@returnUrl"
                            class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" data-abc="true">Follow</a>
                    }
                    else
                    {
                        <a asp-page="/UnFollow" asp-route-followedId="@Model.AuthorId"
                            asp-route-followerId="@_mainPageModel.User.Id" asp-route-returnUrl="@returnUrl"
                            class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded"
                            data-abc="true">UnFollow</a>
                    }

                }
                else
                {
                    <div>
                        oturum aç ya da farklı bir hesapla oturum aç
                    </div>
                }

                <div class="row text-center m-t-20">
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">@Model.PublishCount</h3><small>Publish</small>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">@Model.FollowerCount</h3><small>Followers</small>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">@Model.LikeCount</h3><small>Like</small>
                    </div>
                </div>

                @if (Model.CurrentUser is not null && Model.CurrentUser.Id != Model.AuthorId)
                {
                    <div class="row text-center m-t-20">
                        <div class="col-md-4"></div>
                        <a asp-area = "" asp-controller="Chat" asp-action="Index" asp-route-contactId="@Model.AuthorId" class="col-lg-4 col-md-4 m-t-20 btn btn-primary">
                            <i class="fa-solid fa-comment" style="margin-right:3px;"></i><small>Message</small>
                        </a>

                    </div>
                }


            </div>
        </div>
    </div>
</div>



<style>
    .padding {
        padding: 3rem !important;
        margin-left: 200px
    }

    .card-img-top {
        height: 300px;
    }

    .card-no-border .card {
        border-color: #d7dfe3;
        border-radius: 4px;
        margin-bottom: 30px;
        -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem
    }

    .pro-img {
        margin-top: -80px;
        margin-bottom: 20px
    }

    .little-profile .pro-img img {
        width: 128px;
        height: 128px;
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 100%
    }

    html body .m-b-0 {
        margin-bottom: 0px
    }

    h3 {
        line-height: 30px;
        font-size: 21px
    }

    .btn-rounded.btn-md {
        padding: 12px 35px;
        font-size: 16px
    }

    html body .m-t-10 {
        margin-top: 10px
    }

    .btn-primary,
    .btn-primary.disabled {
        background: #7460ee;
        border: 1px solid #7460ee;
        -webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
        box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
        -webkit-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in
    }

    .btn-rounded {
        border-radius: 60px;
        padding: 7px 18px
    }

    .m-t-20 {
        margin-top: 20px
    }

    .text-center {
        text-align: center !important
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #455a64;
        font-family: "Poppins", sans-serif;
        font-weight: 400
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem
    }
</style>